// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#lists_box {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: auto;
  top: 70px;
}
input.new-task{
  margin: 5px;
  padding:2px;
  font-size:110%;
}
