$sidebar-bg: #F7DFAC;
$sidebar-hover: #FFDD96;
$sidebar-border-color: #B49044;
#sidebar {
  width:300px;
  background-color: $sidebar-bg;
  position:absolute;
  height:100%;
  margin:0;
  top:0;
  left:0;
  #title {
    text-align:center;
    a {
      color:#000;
    }
  }
  #user-config {
    list-style-type:none;
    padding-left:10px;
    height:40px;
    li {
      float:left;
      padding: 0 5px;
    }
  }
  #new-list, #delete-list {
    display:block;
    position:absolute;
    bottom:0;
    padding:5px 0;
    text-align:center;
    width:50%;
    border-top:1px solid #000;
    &:hover {
      background-color: $sidebar-hover;
    }
  }
  #new-list {
    left:50%;
  }
  #new-list{
    border-left:1px solid #000;
  }
  #delete-list {
    left:0;
  }
  #lists {
    margin:0;
    padding:0;
  }
  #lists ul {
    display:block;
    position:absolute;
    list-style-type:none;
    width:100%;
    top: 100px;
    bottom: 30px;
    overflow:auto;
    padding:0;
    margin:0;
    li {
      width:100%;
      border-bottom: 1px dotted $sidebar-border-color;
      &.selected {
        background-color:#FFD273;
        &:hover {
          background-color: #ffcd62;
        }
      }
      &:hover {
        background-color: $sidebar-hover;
      }
      .draggable {
        z-index:9999;
      }
      a { 
        display:block;
        padding: 10px;
        .delete,.count {
          float:right;
          padding: 0 5px;
        }
        .delete:hover {
          text-decoration:underline;
        }
      }
      input {
        padding: 8.2px;
      }
    }
  }
}
